#SAMTimeTravelUI {
  background-color: yellow;
  width: 300px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  font-family: Courier, monospace, sans-serif;
  height: 100%;
  overflow-y: scroll;
}

#SAMTimeTravelUI .snapshot {
  border-top: 2px solid black;
  cursor: pointer;
}

#SAMTimeTravelUI .snapshot:first-of-type {
  border-top:none !important
}
